$whitecolor: #e900e9;
$lineheight: 50px;
$timelineRows: 21;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.schedule {
    display: flex;
    flex-wrap: nowrap;
}
.cd_schedule {
    margin-left: 60px;
    position: relative;
    z-index: 1;
}
.scheduleWrapper {
    position: relative;
    max-width: 1440px;
    margin: 40px auto 40px auto;
}
.columnWrapper {
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid hsl(0, 0%, 92%);
    box-sizing: border-box;
}
.columnHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $lineheight;
    border-bottom: 1px solid hsl(0, 0%, 92%);
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}
.event {
    border-radius: 5px;
    p{
        padding: 0px 0px 4px 10px;
    }
    p:first-child{
        font-size: 14px;
        padding-top: 10px;
        color: #ffffffe8;
    }
    p:nth-child(2){
        padding-top: 5px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
    }
    background-color: #ffa600;
    border: #df8702 4px solid;
    border-left: none;
    border-top: none;
    min-height: 120px;
    color: #fff;
    position: absolute;
    z-index: 3;
    width: 100%;
    p {
        margin: 0;
    }
}   
.dayEvents {
    display: flex;
    position: relative;
    height: ($lineheight*$timelineRows);
    overflow: visible;
}

.scheduleTimeline {
    display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	padding-top: $lineheight;
    overflow: hidden;

    li {
        position: relative;
        height: $lineheight;
        padding: 0;
        margin: 0;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 60px;
            width: 100%;
            height: 1px;
            background: hsl(0, 0%, 92%);
        }
        span {
            display: inline-block;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 0.83333em;
            font-size: var(--text-sm);
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.classRoom{
    font-size: 13px;
    color: #ffffffbf;
}

@media (max-width: 767px) {
    .scheduleTimeline{
        display: none;
    }
    .dayEvents{
        overflow-x: scroll;
        height: auto;
    }
    .columnWrapper{
        flex-basis: unset;
        flex-grow: unset;
        border: unset;
        width: 100%;
    }
    .event{
        height: 150px;
        position: relative;
        flex-shrink: 0;
        float: left;
        max-width: 300px;
    }
    .cd_schedule{
        margin: 0;
        .schedule{
            display: block;
        }
    }
    .monitor{
        width: 100vw;
        .select-block{
            max-width: 100%;
        }
    }
}