$whitecolor: #e900e9;
$lineheight: 50px;
$timelineRows: 21;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
#root{
    background: url('./../img/7462E4D81BF86C952479C87FDEC96197.png') top right no-repeat;
    background-size: 16vw 16vw;
}
.schedule {
    display: flex;
    flex-wrap: nowrap;
}
.cd_schedule {
    margin-left: 60px;
    position: relative;
    z-index: 1;
}
.scheduleWrapper {
    position: relative;
    max-width: 1440px;
    margin: 40px auto 40px auto;
}
.columnWrapper {
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid hsl(0, 0%, 92%);
    box-sizing: border-box;
}
.columnHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $lineheight;
    border-bottom: 1px solid hsl(0, 0%, 92%);
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.event {
    border-radius: 5px;
    p{
        padding: 0px 0px 0px 10px;
    }
    p:first-child{
        font-size: 12px;
        padding-top: 10px;
        color: #ffffffe8;
    }
    p:nth-child(2){
        padding-top: 0px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
    }
    p:nth-child(3){
        font-size: 12px;
    }
    p:last-child{
        font-size: 10px;
    }
    overflow: hidden;
    background-color: #ffa600;
    border: #df8702 4px solid;
    border-left: none;
    border-top: none;
    min-height: 120px;
    color: #fff;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    width: 300px;
    p {
        margin: 0;
    }
}   
.dayEvents {
    display: flex;
    position: relative;
    height: ($lineheight*$timelineRows);
    overflow: visible;
}

.scheduleTimeline {
    display: block;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	padding-top: $lineheight;
    overflow: hidden;

    li {
        position: relative;
        height: $lineheight;
        padding: 0;
        margin: 0;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 60px;
            width: 100%;
            height: 1px;
            background: hsl(0, 0%, 92%);
        }
        span {
            display: inline-block;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 0.83333em;
            font-size: var(--text-sm);
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
.classRoom{
    font-size: 13px;
    color: #ffffffbf;
}
select{
    font-size: 16px;
    width: 17vw;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}
.switch{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
}
.head__row{
    display:flex;
    justify-content: space-between;
}
.head__title{
    padding-left: 10px;
    padding-top: 15px;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    color: #2c2b2be6;
    font-weight: 600;
    padding-bottom: 20px;
}
.parityButton{
    padding-top: 10px;
    padding-left: 10px;
}

@media (max-width: 767px) {
    .scheduleTimeline{
        display: none;
    }
    .head__title{
        font-size: 5vw;
    }
    .dayEvents{
        overflow-x: scroll;
        .parityWrapper{
            width: 300px;
            height: 100%;
            .event{
                height: 50%;
            }
        }
    }
    .columnWrapper{
        flex-basis: unset;
        flex-grow: unset;
        border: unset;
        width: 100%;
    }
    .event{
        position: relative;
        flex-shrink: 0;
        float: left;
        min-height: unset;
        height: 180px;
        box-sizing: border-box;
    }
    .cd_schedule{
        margin: 0;
        .schedule{
            display: block;
        }
    }
    .monitor{
        width: 100%;
        .select-block{
            max-width: 100%;
        }
    }
    .item{
        margin-right: 40px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
}